.idea/
application/config/activemq.php
application/config/database.php
application/config/deploy.php
application/config/datamapper.php
application/config/demo_settings.php
vendor/.git
tmp_uploads/*
!tmp_uploads/.gitkeep